<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/cursussen.html">Cursussen</a></li>
	<li><a href="/bis-basis.html">BIS-Basis</a></li>
	<li><a href="/links.html">Links</a></li>
	<li><a href="/develop.html">Meehelpen</a></li>
      </ul>
    </nav>
    <div class="container">
      
      {{ content }}
      
    </div><!-- /.container -->
    <footer>
      <ul>
	<li><a href="mailto:pieter.pareit@gmail.com">email</a></li>
	<li><a href="https://github.com/gowiz">github page</a></li>
      </ul>
    </footer>
  </body>
</html>
